.has-error label {
    color: red;
}

/* comment */

.has-error input {
    border: 2px solid red !important;

}

.has-error input:focus {
    border: 2px solid red !important;
}

.has-error .help-block {
    color: red;
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


.pip {
    position: absolute;
    left: 120%;
    display: flex;
    align-items: center;
}

.pip img {
    min-height: 64px;
}

.pip span {
    margin-left: 12px;
}

.image-area {
    position: relative;
    width: 100%;
    background: #333;
}
.image-area img{
    max-width: 100%;
    height: auto;
}
.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.remove-image:hover {
    background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
    right: -11px;
}
.remove-image:active {
    background: #E54E4E;
    top: -10px;
    right: -11px;
}