/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*  Note! -- slick slide width is determinet by its 1fr, so img must be with:100% to cover whole slide  */

/* slick track*/

/* remove Outline - select slide name */
.slider .slick-track {
    height: 100%;
}
.slick-track .slide {
    outline: none;
}
.slide-item,
.product-slide-item {
    outline: none;
}

/* show half slide  ********************/
.hero-slider .slick-list{
    padding: 0 13% 0 0;
}

@media only screen and (max-width: 600px) {      /* remove half on small*/
    .hero-slider .slick-list{
        padding:  0;
    }
}


/* custom arrows */

 .slick-arrow {        /* its global , for two slider  select slick-prev, next. specificly  */
    position: absolute;
    bottom: -14%;
    z-index: 10;
    background: transparent;
    border: none;
    color: blue;
    outline: none;
    text-indent: -9999px; 
    white-space: nowrap;  
    opacity: 0.8;
}
.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}
.hero-slider .slick-prev {
    right: 10%;
    background: url('../img/logos/ar-left.png') 0 0 / 80% no-repeat; 
    width: 30px;
    height: 14px;
}
.hero-slider .slick-next {
    right: 5%;
    background: url('../img/logos/ar-right.png') 0 0 / 80% no-repeat; 
    width: 30px;
    height: 14px;
    
}
@media only screen and (max-width: 900px) {
    .hero-slider .slick-prev {
        right: calc(16%);
    }
}

/* 2th slider*/
.products-slider  .slick-arrow  {
    left: 50%;
    bottom: -18%;
    transform: translateX(-100%);
    opacity: 0.8;
    
}
.products-slider .slick-prev {
    right: 10%;
    background: url('../img/logos/ar-left.png') 0 0 / 80% no-repeat; 
    width: 26px;
    height: 12px;
}
.products-slider .slick-next {
    right: 5%;
    background: url('../img/logos/ar-right.png') 0 0 / 80% no-repeat; 
    width: 26px;
    height: 12px;
    margin-left: 38px;
}
.products-slider .slick-prev:hover,
.products-slider .slick-next:hover {
    opacity: 1;
}





/* custom dots */

ul {list-style: none;}

.slider {
    position: relative;
    outline: none;
}
.new-products__slider {
    outline: none;
}
.slider .slick-dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background:#d5dbff;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 4px;
}
.slider .slick-dots .slick-active button{
    background: #f2073f;
}

