/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* remove Outline - select slide name */
.slick-slide {
    outline: none;
    cursor: pointer;
}

                    /* ------- custom slider parameters here*/

/* add space the slides */
.vip-sales__slider .slick-slide {
    margin: 0 5px;
}



                    /* ------- end of  custom slider parameters here*/



/* custom arrows */ /* for .vip-sales__slider */

.vip-sales__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 4;
    background: transparent;
    border: none;
    color: blue;
    outline: none;
    text-indent: -9999px; 
    white-space: nowrap;  
}

.vip-sales__slider .slick-prev {
    left: -45px;
    background: url('../img/logos/slider-ar-left.png') 50% 50% / 80% no-repeat; 
    width: 30px;
    height: 30px;
}
.vip-sales__slider .slick-next {
    right: -45px;
    background: url('../img/logos/slider-ar-right.png')  50% 50% / 80% no-repeat; 
    width: 30px;
    height: 30px;
}

/* section 2 - vip sales slider  responsive  */

@media (max-width: 1450px) {

    .vip-sales__slider .slick-prev,
    .vip-sales__slider .slick-next {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0px 0px 6px rgba(26, 25, 25, 0.329);
    }
    .vip-sales__slider .slick-prev {
        left: -10px;
        background: url('../img/logos/arr-left-bg.png') 50% 50% / 100% no-repeat; 
    }
    .vip-sales__slider .slick-next {
        right: -10px;
        background: url('../img/logos/arr-right-bg.png')  50% 50% / 100% no-repeat;
    }
    
}

/* custom arrows */     /* --  for details-slider  */

.details-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 4;
    background: transparent;
    border: none;
    color: blue;
    outline: none;
    text-indent: -9999px; 
    white-space: nowrap;  
}

.details-slider .slick-prev {
    left: 440px;
    background: url('../img/logos/arr-left-svg.svg') 50% 50% / 80% no-repeat; 
    width: 30px;
    height: 30px;
}
.details-slider .slick-next {
    right: 440px;
    background: url('../img/logos/arr-right-svg.svg')  50% 50% / 80% no-repeat; 
    width: 30px;
    height: 30px;
}

/* style centered mode */

.slick-center.details-slider__item .slider-overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: .1s;
}
/* details slider  responsivity */
@media (max-width: 1500px) {
    .details-slider .slick-prev {
        left: 250px;
    }
    .details-slider .slick-next {
        right: 250px;
    }
}
@media (max-width: 990px) {
    .details-slider .slick-prev {
        left: 150px;
    }
    .details-slider .slick-next {
        right: 150px;
    }
}
@media (max-width: 700px) {
    .details-slider .slick-prev {
        left: 5px;
    }
    .details-slider .slick-next {
        right: 5px;
    }
}



/* custom dots */

ul {list-style: none;}

.slider {
    position: relative;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background: greenyellow;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 3px;
}
